

#header{
  background: black;
  .header{
    padding: 30px 0;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 100px;
    }
    &--nav{
      .active{
        color: red;
      }
      &__link{
        color: white;
        font-weight: 700;
        font-size: 20px;
        margin: 0 30px;
      }
    }
    &--search{
     input{
       padding: 12px 30px;
       border: 2px solid white;
       box-shadow: 0 0 10px 2px #f3f0f0;
       outline: none;
       color: white;
       font-size: 13px;
       border-radius: 20px;
       background: none;
     }
      button{
        padding: 12px 30px;
        border-radius: 20px;
        border: 1px solid #faf7f7;
        box-shadow: 0 0 10px 2px #f3f0f0;
        background: #0f1010;
        margin-left: 30px;
        transition: .4s;
        color: white;
        &:hover{
          border: 1px solid #181a18;
          background: #f4f8f4;
          color: #da1212;
        }
      }
    }
  }
}