
@import "./components/style/Header.scss";
@import "./components/style/Popular.scss";
@import "./components/style/dateilPage.scss";
*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.container{
  width: 90%;
  margin: 0 auto;
}


