
@import "./components/style/Header.scss";
*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.container{
  width: 90%;
  margin: 0 auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;